@media(max-width: 620px){
    .cabecalho{
        padding: 15px 0;
    }

    .cabecalho h1{
        font-size: 28px;
    }

    .content {
        width: 90%;
        gap: 16px;
        padding: 15px;

    }

    .content img {
        width: 40px;
    }

    .personagens-slider{
        padding: 0 15px;
        gap: 10px;
    }

    .btn-seta{
        width: 20px;
        height: 20px;
        padding: 20px;
    }

    .lista-personagens{
        height: 500px;
    }
}